<!DOCTYPE html>
<html>
<head>
	<title>Weibo Analyzer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
	<!-- 引入jquery和bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
	<h1 style="text-align: center;">本站数据</h1>
	<hr/>
	<p>总访问人次: {{ _count }}</p>
	
</div>

</body>

</html>
